.taskList {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 30px;
  }
  
  .task {
    display: flex;
    justify-content: left;
  }
  
  .taskList h4 {
    text-align: left;
  }
